<div class="logo">
<img src="https://i.postimg.cc/C5VMB4pZ/l-removebg-preview.png"  alt="logo">
</div>


<div class="login-btn">
<a href="/categories">
<button>Login</button>
</a>
</div>

<div class="signin-btn">
<a href="/users/sign_up">
<button>Sign up</button>
</a>
<div>